body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Anonymous Pro", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  max-height: 1475px;
  max-width: 1300px;
}
.list-group-item {
  font-size: medium;
  line-height: 18px;
}

.left-block {
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}

.right-block {
  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
}
